[Desktop Entry]
Type=XSession
Exec=/usr/bin/startatp
TryExec=/usr/bin/startatp
DesktopNames=KDE
Name=AeroThemePlasma (X11)
Comment=KDE Plasma running AeroThemePlasma
X-KDE-PluginInfo-Version=6.4.4
