[Unit]
Description=Waits for Plymouth animation to finish at shutdown
DefaultDependencies=no
Before=halt.target shutdown.target reboot.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sleep @SMOD_WAIT_SHUTDOWN@
RemainAfterExit=yes

[Install]
WantedBy=halt.target shutdown.target reboot.target
